@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
}

/* TYPOGRAFIA */

h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
}

h1 {
    font-size: 40px;
    font-weight: 200;
    line-height: 50px;
}

h2 {
    font-size: 30px;
    line-height: 40px;
    margin-top: 0;
}

h3 {
    font-size: 70px;
    font-weight: bold;
    line-height: 32px;
}

h4 {
    color: #505050;
    font-size: 18px;
    line-height: 28px;
}


.background-text {
    background-color: #703206; 
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    color: #fff;
  }
  
  .background-texts {
      font-size: 18px;
      background-color: #5B2C01; 
      padding: 10px;
      display: inline-block;
      border-radius: 5px;
      color: #fff;
    }
  
    .text-size {
      font-size: 23px;
      background-color: #fff; 
      padding: 10px;
      display: inline-block;
      border-radius: 5px;
      color: #000;
    }
  